.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $accent-cl;
  text-decoration: none;
}

.header-logo span {
  color: $black;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  & span {
    color: $white;
  }
}
