.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $black;

  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.feature-list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin: -15px;
  }

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.feature-item {
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 120px;
    background-color: $light-bg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

.feature-item.icon-antenna::before {
  background-image: url(../images/icons/antenna.svg);
}

.feature-item.icon-clock::before {
  background-image: url(../images/icons/clock.svg);
}

.feature-item.icon-diagram::before {
  background-image: url(../images/icons/diagram.svg);
}

.feature-item.icon-astronaut::before {
  background-image: url(../images/icons/astronaut.svg);
}
