.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filter-item {
  &:nth-child(-n + 3) {
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-right: 8px;
    }

    @media screen and (min-width: 768px) {
      margin-right: 8px;
    }
  }
}
