.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $dark-bg;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  .container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
    }
  }
}

.footer-contacts {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 80px;
  }
}

.address {
  font-style: normal;
}

.map {
  color: $white;
}

.address-item {
  .link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  &:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
}

.footer-social {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.footer-title {
  color: $white;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.mailing {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    width: 570px;
  }
}

.footer-form {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
  }
}

.footer-form-input {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  height: 50px;
  background-color: $dark-bg;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: $white;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: $white;
    -webkit-box-shadow: 0 0 0px 1000px $dark-bg inset;
    box-shadow: 0 0 0px 1000px $dark-bg inset;
  }
}

.mailing-icon-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}
