.header .main-nav {
  display: flex;
  align-items: center;
}

.header .site-nav {
  margin-left: 93px;
  display: flex;
}

.nav-link {
  color: $black;
  padding-top: 32px;
  padding-bottom: 32px;
}
