.service {
  padding-top: 0;
}

.service-list {
  display: flex;
}

.service-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.service-label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.service-label-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;
}
